.product-container {
    align-items: center;
   /*  border: 2px solid black; */
    display: flex;
    justify-content: center;
    padding: 5em 0 20em;
}

.product-container__img{
    padding: 0em 7em 0em 0em;
}

.product-container__details{ 
    padding: 4em 60px;
    border-left: 1px solid black;
}

.product-container__img img {
    height: 30em;
}

.border {
    background: #fff;
    display: flex;
    align-items: center;
    border: 0;
}

.back-button{
    display: block;
    padding: 14px 0;
}

.Carousel {
    border: 2px solid red;
    width: 90px;
    height: 90px;
}
