.product-container {
    align-items: center;
   /*  border: 2px solid black; */
    display: flex;
    justify-content: center;
    padding: 5em 0 10em;
}

.product-container__img{
    padding: 0em 14em 0em 0em;
}

.product-container__details{ 
    padding: 4em 60px;
    border-left: 1px solid black;
}

.product-container__img img {
    height: 30em;
}

.border {
    background: lightgray;
    display: flex;
    align-items: center;
    border: 0;
}

.back-button{
    padding-top: 2px;
}