.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10em;
    border: 2px solid black
}

.product-container__img{
    padding: 2em 19em 0 0;
}

.product-container__img img {
    height: 30em;
}