.item-list__container {
    padding: 4em 0 1em;
}

.item-list__container {
    font-size: 26px;
}

.item-list__body {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    flex-wrap: wrap;
}