.item-list__container {
    padding: 2em 0 1em;
}

.item-list__container {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.item-list__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-list_title {
    text-transform: capitalize;
}