.navbar__item:hover {
  background-color: #fff;
  color: #000;
}

#navbar-title__container{
  color: #fff;
  text-decoration: none;
}

#navbar-title__title {
  color: #000;
  position: relative;
  text-decoration: none;
}

#navbar-title__title::before {
  background-color: #000;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  width: 100%;
}

#basic-nav-dropdown {
  color: #000;
}

#navbar-title__title:hover::before {
  transform: scaleX(1);
}

#dropdown-categories{ 
  color: #000;
  text-decoration: none;
}

#dropdown-categories p:hover{
  background-color: #333;
  color: #fff;
  transition: all .2s;
}

#navbar {
  z-index: 100;
  position: fixed;
  background: rgb(173 173 173 / 18%);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 2%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.navbar>.container {
  justify-content: space-between;
}

@media (orientation: landscape) {
  .display-none_cart-landscape {
    display: none;
  }
}

@media (orientation:portrait) {
  .display-none_cart-portrait {
    display: none;
  }
}