.handle-cart {
    padding: 0 0 15px;
}

.cart-buttons{
    display: flex;
    width: 40%;
}

.cart-buttons #boton {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.cart-buttons #boton:hover {
    color: red;
    transition: all .2s;
}

.cart-buttons p {
    align-items: center;
    display: flex;
    font-size: large;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    width: 30%;
}