.handle-cart {
    padding: 31px 0px 15px;
}

.cart-buttons{
    
    display: flex;
    justify-content: center;
    width: 100%;
}

.cart-buttons button {
    background-color: #fff;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 0;
}

.cart-buttons button:hover {
    color: red;
    transition: all .2s;
}

.cart-buttons p {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    font-size: large;
    font-weight: 500;
}